body {
    background: #EEEEEE;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
}

header {
    background: #ffffff;
    margin-bottom: 20px;
    overflow: hidden;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom-width: medium;
    border-bottom-style: solid;
    border-bottom-color: #cccccc;
    width: 100%;
}

.name {
    float: left;
    margin-left: 200px;
    background: #4aaaa5;
    color: #ffffff;
    padding: 15px;
}

nav {
    float: right;
    line-height: 70px;
    margin-right: 200px;
}

nav li {
    display: inline-block;
    padding: 5px 10px;
    margin-right: 10px;
    line-height: normal;
}

ul {
    margin: 0; 
    padding: 0;
    list-style-type: none;
}

li {
    display: in-line block;
    border-radius: 3px;
    padding: 2px;
    margin-left: 20px;
}

.content {
    background: #ffffff;
    border-color: #dddddd;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    max-width: 960px;
    margin: 30px 200px 80px 200px; 
    padding: 20px;
    height: 420px;
    overflow: auto;
    padding-bottom: 50px;
}

p {
    text-align: left;
    font-size: 20px;
    line-height: 40px;
}
.aboutme, .contact, .portfolio {
    border-bottom-width: medium;
    border-bottom-width: length 920px;
    border-bottom-style: solid;
    border-bottom-color: #dddddd;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
}

img {
    float: left;
    margin: 20px;
}

section div div img {
    margin-top: 30px;
}

.footer {
    background: #666666;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    border-top-width: thick;
    border-top-style: solid;
    border-top-color: #4aaaa5;
    position: relative;
    height: 80px;
    margin-top: -80px;
    clear: both;
    display: flex;
    align-items: center;
}

.footer_contents {
    padding: 15px 45% 0px 45%;
}

html, body {
    height: 100%;
    margin: 0;
}

#container {
    min-height: 100%;
}

/* CSS for contact form */

label, input {
    display: block;
    padding: 5px 0px;
}

.form-box {
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.form-box input, .form-box text area {
    flex-basis: 100%;
}

#text_area {
    width: 100%;
    height: 150px;
    padding: 10px;
    box-sizing: border-box;
    resize: none;
}

#btnSubmit {
    background:  #4aaaa5;
    color: #ffffff;
    font-size: 15px;
    padding: 5px 20px 5px 20px;
    flex-basis: 40px;
    height: 250px;
    align-self: flex-start;
    margin-top: 5px;
}
